/*HEADER*/
.container-fluid {
    padding: 0;
    margin: 0;
}

#header-menu {
    display: flex;
    color: whitesmoke;
}

#left-h-menu, #right-h-menu {
    flex-direction: row;
}

#header-menu li {
    padding: 1rem;
}

#header-menu a {
    text-decoration: none;
}

/*MAIN*/
#bio {
    display: flex;
    justify-content: end;
    align-items: center;
}

#profile-pic {
    align-items: center;
    margin-left: 2rem;
    height: 15rem;
    border-radius: 25%;
}

.card-deck .card {
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

.card .btn {
    display: flex;
    justify-content: center;
}

/*FOOTER*/
#footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-menu ul {
    flex-direction: row;
}

#footer-menu img {
    height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}